@import "tailwindcss";
/* src/index.css */
:root {
  --primary-color: #ea2a33;
  --primary-text-color: #1b0e0e;
  --secondary-text-color: #555;
  --background-color: #fcf8f8;
  --input-bg-color: #f3e7e8;
  --input-placeholder-color: #994d51;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
